@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 70%;
}
body {
  background-color: dimgrey;

}

.error-msg,
.error-text {
  color: rgb(230, 4, 4);
  font-size: 1px;
  font-weight: 200;
}
.reg-format,
label,
.reg-num,
.msg {
  color: #d8f3dc; 
  font-size: 2.2rem;
  font-weight: 700;
}
h1{
  color: #d8f3dc; 
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 8px;
  text-decoration: underline;
}
.msg {
  margin-bottom: 15px;
}
button {
  border: none;
  letter-spacing: 0.8px;
}

.select-btn-container {
  flex-direction: column;
  gap: 10px;
}
.add-btn {
  padding: 9px 18px;
}
.msg {
  text-transform: uppercase;
}
.filter-btn{
  margin-left: 15px;
  height: 45px;
  width: 100px;
}
.clear-btn {
  margin-left: 15px;
  height: 45px;
  width: 100px;
  margin-top: 15px;
}
.add-btn-container {
  gap: 5px;
}

.filter-btn-container,
.clear-btn-container {
  justify-content: center;
  padding: 7px 17px;
  gap: 5px;
}
.reg-format {
  margin-bottom: 10px;
}
.text-input,
select {
  padding: 8px;
}
.input-btn-container {
  margin-top: 10px;
  margin-bottom: 45px;
}
.reg-num,
.number-plates-from {
  width: fit-content;
  padding: 10px;
  color: #f0f3f1;
  border: 3px solid #3b3b3b;
  margin-block: 15px;
  min-height: 27px;
  max-width: 400px;
  margin-right: 12px;
}
.reg-num-container {
  display: flex;
  flex-wrap: wrap;
}
.show {
  font-size: 80px;
  background-color: #E5E4E2;
  color: #555555;
  padding: 50px;
}
.hidden {
  display: none;
}
@media (min-width: 68em) {
  article {
    max-width: 57rem;
    padding-block-end: 40px;
  }
  .article-container {
    flex-direction: row;
    justify-content: center;
  }
  .error-msg,
  .error-text {
    font-size: 2.8rem;
  }
  .reg-format{
    color: #d8f3dc;
    font-size: 1.5rem;
    font-weight: 700;
  }
  .label,
  .reg-num {
    color: #d8f3dc;
    font-size: 2.8rem;
    font-weight: 700;
  }
  .text-input,
  select {
    padding: 15px;
  }
  .add-btn {
    padding: 9px 32px;
    height: 45px;
  }
  
  .input-btn-container,
  .btn-container,
  .select-btn-container {
    align-items: center;
  }
  .select-btn-container {
    flex-direction: row;
  }
}

.container {
  
  color: #dad7cd;
  max-width: 500px;
  margin: 0 auto; 
  padding: 20px;
  margin-top: 50px;
  font-size: medium;

}

.greeting-widget-box {
  text-align: center;
}
